<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Historic Energy-Production {% endblock %}
        {% block main %}{{ super() }}{% endblock%}


        {% block content %}
        <div class="sub-page-text">
            On this page you can find the historic Energy-Production for the different Energy-Types in Switzerland.
        </div>
        <p class="info-text">
            The data is from <a href="https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show">entsoe.eu</a>
        </p>
        <p class="info-text">
            In the Overview-Plot you can see all data of the last two years stacked.
            Like this you can as well see the total Energy-Production.
            Please switch between "Stündlich"(hourly) and "Täglich"(daily) to see more or less variability in the data.

        <div class="plot center" id="energy-historic-plot2"></div>

        </p>
        <p class="info-text">
            In the Pie-Chart you can see the Ratio between the different Energy-Production-Types.
        </p>

        <div class="plot center" id="energy-historic-plot3"></div>

        <p class="info-text">
            As you can see, Nuclear Energy Production is one of the main Energy-Sources in Switzerland.
            In summer there is an increase of Solar-Power, so the Nuclear Power Plants seem to reduce their work during the summer months.
        </p>

        {% endblock %}

        {% block footer %}{{ super() }}{% endblock %}

        {% block scripts %}

        <script type="module">
          const response = await fetch('/Historic-Energy-Production')
          const data = await response.json()

          const plots_div = $("#Historic-Energy-Production");
          if(data.plot2 !== undefined){
              Bokeh.embed.embed_item(data.plot2, "energy-historic-plot2");
              Bokeh.embed.embed_item(data.plot3, "energy-historic-plot3");
          } else {
            plots_div.append("<h1>"+data.error+"</h1>");
            plots_div.append("<pre>"+data.traceback+"</pre>");
          }
        </script>

        {% endblock %}
    </body>
</html>