<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Historic Energy-Production {% endblock %}
        {% block main %}{{ super() }}{% endblock%}

        {% block info_text %}
                    On this page you can find the historic Energy-Production for the different Energy-Types.
                    In the Overview-Plot you can see all data of the last two years stacked.
                    Like this you can as well see the total Energy-Production.
                    In the Pie-Chart you can see the Ratio between the different Energy-Production-Types.
        {% endblock%}

        {% block content %}
            <div class="row">
                <div class="col-12 col-sm-12" id="energy-historic-plot1"></div>
            </div>
        {% endblock %}

        {% block footer %}{{ super() }}{% endblock %}

        {% block scripts %}
        <script type="module">
          const response = await fetch('/Historic-Energy-Production')
          const data = await response.json()

          const plots_div = $("#Historic-Energy-Production");
          if(data.plot2 !== undefined){
              Bokeh.embed.embed_item(data.plot2, "energy-historic-plot1");
              Bokeh.embed.embed_item(data.plot3, "energy-historic-plot1");
          } else {
            plots_div.append("<h1>"+data.error+"</h1>");
            plots_div.append("<pre>"+data.traceback+"</pre>");
          }
        </script>
        {% endblock %}
    </body>
</html>