<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Welcome to our Web-Application {% endblock %}
        {% block main %}{{ super() }}{% endblock %}


        {% block content %}

        <p class="info-text">
            As part of our Module "Scientific Programming" we completed a Python project that involved collecting and analyzing real-life weather and energy-production data in Switzerland.
        </p>
        <p class="info-text">
            We aimed to understand the relationship between energy-production and weather, with the ultimate goal of predicting future energy-production based on weather predictions.
        </p>
        <p class="info-text">
            On this Webapplication you can find our results, so please feel free to look around.
            In the Navigation-bar, you can find all the relevant Sub-Pages.
        </p>
        <p class="info-text">
            In the tab "Extras", we included a little Easter-Egg, that has nothing to do with the project, but is sligthly related to Weather and Energy.
        </p>
        {% endblock %}

        {% block footer %}{{ super() }}{% endblock %}
        {% block script %}{{ super() }}{% endblock %}
    </body>
</html>