<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {{ resources }}
    <script src="scripts/navigation.js"></script>
</head>
<body>
    <script>
        generateNavbar();
        setActiveNavbarItem()
    </script>
    
    <main>
        <h1>Model</h1>
        <div id="model-plot-1"></div>
    </main>  
    
    <script type="module">
        const response = await fetch('/plot')
        const item = await response.json()
        Bokeh.embed.embed_item(item, "plots")
    </script>
</body>
</html>