<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Modelling {% endblock %}
        {% block main %}{{ super() }}{% endblock %}

        {% block info_text %}
            On this page you can find our Model-Preparation.
        {% endblock %}

        {% block content %}
        <div class="row">
                <div class="col-12 col-sm-12">
                    <img src="../static/pictures/regression-overview.png">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12">
                    <img src="../static/pictures/overlap.png">
                </div>
            </div>
        </div>
        {% endblock %}


        {% block footer %}{{ super() }}{% endblock %}

    </body>
</html>