<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Historic Weather-Data {% endblock %}
        {% block main %}{{ super() }}{% endblock %}

        {% block info_text %}
            On this page you can find the historic Weather-Data.
            We displayed the average Temperature and Rain over the last two years.
        {% endblock %}

        {% block content %}
        <div class="row">
            <div class="col-12 col-sm-12" id="weather-historic-plot1"></div>
        </div>
        {% endblock %}


        {% block footer %}{{ super() }}{% endblock %}

        {% block scripts %}
        <script type="module">
          const response = await fetch('/Historic-Weather-Data')
          const data = await response.json()

          const plots_div = $("#Historic-Weather-Data");
          if(data.plot1 !== undefined){
              Bokeh.embed.embed_item(data.plot1, "weather-historic-plot1");
          } else {
            plots_div.append("<h1>"+data.error+"</h1>");
            plots_div.append("<pre>"+data.traceback+"</pre>");
          }
        </script>
        {% endblock %}
    </body>
</html>