<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    <head>
        {% block head %}{{ super() }}{% endblock %}
    </head>
    <body>
        {% block nav_bar %}{{ super() }}{% endblock %}
        {% block title %} Historic Weather-Data {% endblock %}
        {% block main %}{{ super() }}{% endblock %}


        {% block content %}
        <div class="sub-page-text">
            On this page you can find the historic Swiss Weather-Data of the last two years.
        </div>
        <p class="info-text">
            The red line shows the average temperature in °C and the blue bars symbolize the daily amount of rain in mm per square-meter.
        </p>

        <div class="row">
            <div class="plot" id="weather-historic-plot1"></div>
        </div>
        <p class="info-text">
            We first decided to use a grid of 20 regularly distributed coordinates in Switzerland, as you can see below.
            With those coordinates we did API-calls from the <a href="https://openweathermap.org">openweathermaps.org-API</a>.
            But due to a mistake in our code, we wasted a lot of API-calls with the wrong coordinates, so in the end, we decided to find another datasource.
        </p>
            <img id="coordinates" class="plot" src="../../static/pictures/coordinates.png" alt="coordinates">

        <p class="info-text">
            The data-source we used for the historic weather originates from <a href="wetter2.com">wetter2.com</a>a> and includes different locations of different parts of Switzerland.
            In our database we stored historic weather-data of the last two years for the following locations:
        </p>
        <div class="framed box">
            Aarau, Adelboden, Amriswil, Andermatt, Appenzell, Ascona, Basel, Bellinzona, Bern, Biel, Brienz, Bulle, Chur, Davos, Delemont, Einsiedeln, Emmen, Fortunau, Frauenfeld, Fribourg, Geneva, Glarus, Grindelwald, Ilanz, Interlaken, Kandersteg, Kreuzlingen, La Chaux De Fonds, Laax, Lausanne, Lauterbrunnen, Lenzerheide, Leukerbad, Locarno, Lucerne, Lugano, Martigny, Melide, Montreux, Murren, Murten, Nendaz, Neuchatel, Orselina, Payerne, Piazzogna, Pontresina, Poschiavo, Rapperswil, Romanshorn, Saas_Fee, Samaden, Samnaun, Sarnen, Savognin, Schaffhausen, Schwarzsee, Sion, Solothurn, St_Gallen, Stein_Am_Rhein, Tenero, Thun, Trient, Verbier, Vevey, Veysonnaz, Visp, Wengen, Winterthur, Zermatt, Zweisimmen, Zurich
        </div>
        {% endblock %}


        {% block footer %}{{ super() }}{% endblock %}

        {% block scripts %}
        <script type="module">
          const response = await fetch('/Historic-Weather-Data')
          const data = await response.json()

          const plots_div = $("#Historic-Weather-Data");
          if(data.plot1 !== undefined){
              Bokeh.embed.embed_item(data.plot1, "weather-historic-plot1");
          } else {
            plots_div.append("<h1>"+data.error+"</h1>");
            plots_div.append("<pre>"+data.traceback+"</pre>");
          }
        </script>
        {% endblock %}
    </body>
</html>