/*---------------------------------------------*/
/* SPACE-Styles */
/*---------------------------------------------*/

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #067fd0, #feef7b);
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #067fd0, #feef7b);
}

.wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.content {
  flex: 1;
  margin: 0;
}

.footer {
  background-color: #feef7b;
  height: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  padding: 0 20px;
}

.container {
    margin-top:20px;
    margin-bottom: 20px;
    position: center;
    border:0px;
    background-color:#ffffff;
}

.framed {
    border-color: navy;
    border-style:outset;
    border-width: 0.5 px;
    background-color: azure;
}

.box {
    border-color: #6495ED;
    border-style: ridge;
    border-width: 0.1 px;
    background-color: azure;
}


/*---------------------------------------------*/
/* TEXT-Styles */
/*---------------------------------------------*/

.title {
    text-align: center;
    margin:10px;
    margin-bottom: 20px;
    border-bottom-color: #12296c;
    border-bottom-style: groove;
    font-size:xxx-large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#12296c;
}

.info-text {
    margin-top: 20px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-text {
    font-family:Arial, Helvetica, sans-serif;
    color:#12296c;
    font-size: small;
    padding: 0%;
    border:0ch;
    margin-right: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-text-title {
    font-family:Arial, Helvetica, sans-serif;
    color:#12296c;
    font-weight: bold;
    font-size: small;
    padding: 0%;
    border:0ch;
    margin-right: 10px;
    margin-left: 10px;
}

.version-text{
    color:#baac99;
    font-position: right;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
}

.sub-page-text {
    font-weight: bold;
    font-size: 30px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:40px;
    margin-bottom:80px;
}


.subtitle {
    font-weight: bold;
    font-size: 20px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:40px;
}

/*---------------------------------------------*/
/* MAP-Styles */
/*---------------------------------------------*/

#map {
    height: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.plot, .table, .bk-Column  {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}