/*---------------------------------------------*/
/* GENERAL-Styles */
/*---------------------------------------------*/

html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #067fd0, #feef7b);
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #067fd0, #feef7b);
}

.wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.content {
  flex: 1;
  margin: 0;
}

.footer {
  background-color: #feef7b;
  height: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  padding: 0 20px;
}



/*---------------------------------------------*/
/* TEXT-Styles */
/*---------------------------------------------*/

.title {
    text-align: center;
    margin:10px;
    margin-bottom: 20px;
    border-bottom-color: #12296c;
    border-bottom-style: groove;
    font-size:xxx-large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#12296c;
}

.info-text {
    margin-top: 20px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-text {
    font-family:Arial, Helvetica, sans-serif;
    color:#12296c;
    font-size: small;
    padding: 0%;
    border:0ch;
    margin-right: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-text-title {
    font-family:Arial, Helvetica, sans-serif;
    color:#12296c;
    font-weight: bold;
    font-size: small;
    padding: 0%;
    border:0ch;
    margin-right: 10px;
    margin-left: 10px;
}

.version-text{
    color:#baac99;
    font-position: right;
    font-size: small;
    font-family:Arial, Helvetica, sans-serif;
}

.sub-page-text {
    font-weight: bold;
    font-size: 30px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:40px;
    margin-bottom:80px;
}


.subtitle {
    font-weight: bold;
    font-size: 20px;
    color:#12296c;
    font-family:Arial, Helvetica, sans-serif;
    margin-top:40px;
}

/*---------------------------------------------*/
/* MAP-Styles */
/*---------------------------------------------*/

#map {
    height: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


/*---------------------------------------------*/
/* PLOT- & TABLE-Styles */
/*---------------------------------------------*/

.container {
    margin-top:20px;
    margin-bottom: 20px;
    position: center;
    border:0px;
    background-color:floralwhite;
    border-radius:2px;
}


.plot, .bk-Column {
    display: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.box {
    display: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.framed {
    border-color: navy;
    border-style:outset;
    border-width: 0.5 px;
    padding: 8px;
    background-color: azure;
}

.dataframe {
    background-color: white;
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
    width: 100%; /* Set the table width to 100% of its container */
    table-layout: fixed; /* Fix the table layout */
    border: 2px solid navy; /* Add a border around each cell */
    padding: 8px; /* Adjust the padding as needed */
}

.table td, .table th{
    text-align: right;
    padding: 0.75rem;
    vertical-align: top;
    horizontal-align: center;
    border: 1px solid navy;
}

.table th {
    background-color: aliceblue;
    border-bottom: 2px solid navy;
}

#modeltest, #regression {
    background-color: white;
    overflow-y: scroll; /* Enable vertical scrolling */
    max-height: auto; /* Adjust the maximum height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
    width: 100%; /* Set the table width to 100% of its container */
    table-layout: fixed; /* Fix the table layout */
    border: 2px solid navy; /* Add a border around each cell */
}

#coordinates {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}